<nav id="navbar-example2" class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" width="30" height="30" alt=""> Contabilidad Online Tu Mejor Opción</a>
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
            <div class="dropdown-menu">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/registro">Registro</a>
                </li>
            </div>
        </li>
    </ul>
</nav>
<div class="card-group">
    <small class="text-muted">Pendiente publicidad</small>
</div>